.cards {
  position: relative;
  width: 100%;
  max-width: 320px;
  margin: 0 auto 20px;
}

.cards-stack {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;

  display: grid;
  place-items: center;
}

.card-stack-item {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 100%;

  grid-row: 1;
  grid-column: 1;
  transform-origin: bottom;
}

.card-wrapper {
  position: absolute;
  left: 0;
  top: 0;

  display: block;
  width: 100%;
  height: 100%;

  transform-origin: bottom;
  transition: transform 0.2s;

  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
}

.card {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;

  border: 4px solid #ffffff;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0px 0px 48px rgba(8, 94, 168, 0.16);

  &::before {
    z-index: 2;
    content: "";
    display: block;
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 32px;
    background: linear-gradient(
      180deg,
      rgba(22, 61, 93, 0) 0%,
      rgba(22, 61, 93, 0) 54.5%,
      rgba(22, 61, 93, 0.8) 76%,
      rgb(22 61 93) 100%
    );
  }
}

.card-text {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 24px 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-align: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  z-index: 3;
}

.card-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  pointer-events: none;
  z-index: 1;
}

.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.end-text {
  margin: 0 0 8px;
  font-size: 14px;
  line-height: 17px;
  color: #1577c3;
  opacity: 0.75;

  span {
    display: inline-block;
    border-bottom: 1px dashed rgba(#1577c3, 0.5);
  }
}
