.cards {
  position: relative;
  width: 100%;
  max-width: 320px;
  margin: 0 auto 20px;
}

.cards-stack {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;

  display: grid;
  place-items: center;
}

.card-wrapper {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  filter: drop-shadow(0px 0px 24px rgba(8, 94, 168, 0.1));
  transform-origin: bottom;

  transition: transform 0.2s;

  grid-row: 1;
  grid-column: 1;

  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
}

.card {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;

  border: 4px solid #ffffff;
  border-radius: 32px;
  overflow: hidden;

  &::before {
    z-index: 2;
    content: "";
    display: block;
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 32px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 54.5%,
      rgba(255, 255, 255, 0.8) 76%,
      #ffffff 100%
    );
  }
}

.card-text {
  padding: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #5d7182;
  text-align: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  z-index: 3;
}

.card-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  pointer-events: none;
  z-index: 1;
}
