.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto 20px;
}

.action-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.-like {
    background: #4db957;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 24px rgba(77, 185, 87, 0.48);
  }

  &.-dislike {
    background: #ec6f6f;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 24px rgba(236, 111, 111, 0.48);
  }
}

.action-button-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.finish-button {
  margin: 0 16px;
  padding: 0 16px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  height: 48px;
  border-radius: 48px;
  background: #ffffff;
  border: 2px solid #d9edfd;
  box-shadow: 0px 0px 24px rgba(123, 194, 254, 0.48);
  text-decoration: none;
}

.finish-button-icon {
  width: 24px;
  height: 24px;
  fill: #7bc2fe;
}

.finish-button-text {
  flex: 1;
  text-align: center;
  font-size: 13px;
  color: #5b87ab;
}
