.carousel-container {
  z-index: 99;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  width: 100%;
  height: 85%;
  min-height: 580px;
  max-height: 640px;
  border-radius: 48px 48px 0 0;
  max-width: 480px;
  background: linear-gradient(
    180deg,
    rgba(123, 194, 254, 0.4) 0%,
    #7bc2fe 75%,
    #7bc2fe 100%
  );
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.5);
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-image {
  pointer-events: none;
  position: absolute;
  display: block;
  left: 40px;
  top: 40px;
  right: 40px;
  bottom: 40px;
  object-fit: contain;
  max-width: calc(100% - 80px);
  max-height: calc(100% - 80px);
  filter: drop-shadow(0px 0px 16px rgba(8, 94, 168, 0.48));
}

.slide-actions {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 24px;
}

.slide-action-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:first-child) {
    margin-left: 16px;
  }

  &.-download {
    background: #4db957;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 24px rgba(77, 185, 87, 0.48);
  }

  &.-share {
    background: #03a9f4;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 24px rgba(63, 81, 181, 0.48);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.1;
  }
}

.slide-action-button-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.close-panel {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.close-panel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  background-color: transparent;
  border: 0;
  opacity: 0.86;
}

.close-panel-icon {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  fill: #fff;
}

.close-panel-text {
  color: #fff;
  font-size: 16px;
  line-height: 1;
  margin-right: 4px;
  text-transform: uppercase;
  text-shadow: 0px 0px 16px #4d95b0;
  font-variant: all-small-caps;
  letter-spacing: 0.04em;
  font-weight: 500;
}
